menu "Popcorn Multi-Kernel Support"

# This is selected by all the architectures Popcorn supports
config HAVE_POPCORN_ARCH_SUPPORT
	bool

config POPCORN
	bool "Popcorn Multi-Kernel Support"
	depends on HAVE_POPCORN_ARCH_SUPPORT
	default y
	help
		Enable or disable the Popcorn multi-kernel Linux support.

config POPCORN_DEBUG
	bool "Popcorn debugging messages in kernel log"
	depends on POPCORN
	default n
	help
		Enable or disable kernel messages that can help debug Popcorn issues.

config POPCORN_KMSG
	bool "Popcorn Inter-Kernel Messaging Support"
	depends on POPCORN
	default y
	help
		Enable or disable support for inter-kernel messaging in Popcorn.

#config POPCORN_UMSG
#	bool "Popcorn Inter-Kernel Userspace Messaging Support"
#	depends on POPCORN_KMSG
#	default n
#	help
#		Enable or disable support for messaging between userspace processes
#		on different kernels in Popcorn.

comment "Popcorn is not currently supported on your architecture"
	depends on !HAVE_POPCORN_ARCH_SUPPORT

endmenu
