menu "Popcorn Distributed Execution Support"

# This is selected by all the architectures Popcorn supports
config ARCH_SUPPORTS_POPCORN
	bool

config POPCORN
	bool "Popcorn Distributed Execution Support"
	depends on ARCH_SUPPORTS_POPCORN
	default y
	help
		Enable or disable the Popcorn multi-kernel Linux support.

config POPCORN_DEBUG
	bool "Log debug messages for Popcorn"
	depends on POPCORN
	default n
	help
		Enable or disable kernel messages that can help debug Popcorn issues.

config POPCORN_DEBUG_PROCESS_SERVER
	bool "Task migration"
	depends on POPCORN_DEBUG
	default n

config POPCORN_DEBUG_PAGE_SERVER
	bool "Page migration"
	depends on POPCORN_DEBUG
	default n

config POPCORN_DEBUG_VMA_SERVER
	bool "VMA handling"
	depends on POPCORN_DEBUG
	default n

config POPCORN_REMOTE_INFO
	bool "Single system image over multiple nodes"
	depends on POPCORN
	default n

config POPCORN_STAT
	bool "Collect performance statistics"
	depends on POPCORN
	default n

comment "Popcorn is not currently supported on your architecture"
	depends on !ARCH_SUPPORTS_POPCORN

source msg_layer/Kconfig

endmenu
