if POPCORN

config POPCORN_KMSG
	bool "Inter-kernel messaging layer"
	default y
	help
		Support various inter-kernel message passing implementations

if POPCORN_KMSG

# Socket over Ethernet
config POPCORN_KMSG_SOCKET
	tristate "Over TCP/IP"
	depends on INET && m
	default m
	help
		Communicate through sockets on IP on Ethernet

# Test and debug
config POPCORN_KMSG_TEST
	tristate "Build test modules"
	default n

config POPCORN_DEBUG_MSG_LAYER
	bool "Print debug message "
	depends on POPCORN_DEBUG
	default n

endif # POPCORN_KMSG

endif # POPCORN

